@font-face {
    font-family: pacifico;
    src: url("../fonts/Pacifico-Regular.ttf");
  }
  
@font-face {
    font-family: grobold;
    src: url("../fonts/GROBOLD.ttf");
}

@font-face{
    font-family: rejilla-simple;
    src: url("../fonts/Rejillasimple-Regular.otf");
}

:root {
    --header-color:#291766;
    --light-header-color:#9b91d9;
    --light-color:#f0f0f2;
    --second-light-color:#94c6f2;
    --dark-color:#6b8df2;
}

body{
    color:#5e5e5e;
}

/* 
.navbar i {
    text-align: center;
    display: block;
    color: rgba(255,255,255,.55);
    padding-top: 0.5rem;
} */

.navbar li a{
    padding-top:0 !important;
}

.navbar{
    background-color:var(--header-color);
}

.navbar-brand{
    font-family: "grobold";
    text-transform: uppercase;
    margin-right:30px;
}

.welcome-section{
    height:900px;
    background-color:var(--header-color);
    color:white;
    background-image: url("../images/fondo.png");
    background-size: contain;
    background-position:50% 0%;
}

.links-section{
    background-color:var(--light-color);
}

.mission-section{
    background-color:var(--second-light-color);
    color:#393939;
}

.who-we-are-section{
    height:900px;
    background-color:var(--light-color);
    color:black;
}

.logo-big {
    margin: auto;
    display: block;
    width: 400px;
    padding-top: 150px;
}

.logo-mini {
    width: 60px;
    margin-right:20px;
}

.slogan{
    text-align: center;
    font-family: "pacifico";
}

.links-section h3{
    text-align: center;
    color: var(--light-header-color);
}

.links-section p{
    text-align: center;
}


.links-section i{
    display: block;
    font-size:100px;
    text-align: center;
    color: var(--light-header-color);
    margin-bottom:20px;
    transition:0.3s;
}

.links-section i:hover{
    font-size:110px;
    color:#4c2cbf;
}

.icon-container{
    height:130px;
}

.section-title{
    padding-top:50px;
    text-align: center;
    font-weight: 100;

}

.row{
    padding-top:70px;
    padding-bottom: 150px;
}

.mission-section .col-md-6{
    display: table;
}

.mission-section p{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    line-height: 40px;
}
.mission-section i{
    display: block;
    font-size:150px;
    text-align: center;
    margin-bottom:20px;

}

footer{
    background-color: var(--header-color);
    color:var(--light-color);
}

p i{
    padding-right: 10px;
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    color:white;
}

footer h2{
    font-weight: 100;
}

.login-logo{
    width:100px;
} 
  
.main-node{
    margin-top:86px;
    padding-top:30px;
    padding-bottom:30px;
}

/* .main-node.categories{
    padding-top:60px;
} */


.category-image {
	height: 200px;
	background-position: center;
	margin-bottom: 25px;
	box-shadow: 5px 5px 10px #bdbdbd;
	display: table;
	width: 100%;
}



.category-name {
	justify-content: center;
	align-items: initial;
	color: white;
	font-size: 36px;
	text-shadow: 2px 2px 7px black;
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
	padding-bottom: 40px;
    transition: .5s
}

.category-name.over{
    font-size: 40px;
    background-color: #00000040;
}

.categories a{
    text-decoration: none;
}

.main-node .row{
    padding-top:0;
    padding-bottom:0;
}

.article-block {
	padding: 10px;
	margin-bottom: 10px;
	background-color: white;
	border-radius: 10px;
    box-shadow: 5px 5px 10px #bdbdbd;
}

.article-block img{
    width:auto;
    height:auto;
    max-width: 100px;
    max-height: 66px;
    margin: auto;
    display: inline-block;
}

.article-block a{
    color:#4c2cbf;
    text-decoration:none;
    font-size: 18px;
    font-weight: 100;
}

a{
    text-decoration:none;
    color:#4c2cbf;
}
a:hover{
    color:#291766;
}

h3{
   font-weight: 100;
   color:#4c2cbf;
}

h3 a{
    color:#4c2cbf;
}

h3 a:hover{
    color:#291766;
}

main h1{
    font-weight: 100;
}

main {
    background-color:#f0f0f2;
}

.description {
    padding:20px;
    margin-bottom:20px;
    margin-top: 20px;
    background-color:var(--dark-color);
    color:white;
    border-radius:10px;
}

.not-allowed{
    text-align: center;
}

.not-allowed i {
    font-size:400px;
}

/* .article-image{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    max-height: 300px;
    max-width: 100%;
} */

.article-image{
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:100%;
    background-position: 50% 50%;
}

@media(max-width:500px)
{
    .article-image{
        height:200px;
    }
}

h3 i{
    margin-right:10px;
}

@media(max-width:600px)
{
    .navbar-brand{
        margin-right:0;
    }

}

.row div{
    margin-bottom:10px;
}

.article-block .row div{
    margin-bottom:0px;
}

.article-block .row{
    margin-bottom:0;
}

.image-container{
	height: 66px;
	width: 100px;
	background-size: 100px;
	background-position: 50% 50%;
	display: inline-block;
    margin-left: 12px;
}

.link-container{
    width:100%;
    height:100%;
    display:table;
}

.link-container a{
    vertical-align: middle;
    display: table-cell;
}

footer .social-icons{
    font-size:50px;
}

footer .title{
    font-family: "grobold";
}

.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;

    max-width: 560px; 
    max-height: 315px;
    margin:auto;
}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.body{
    font-size:18px;
    line-height: 28px;
}

.rejilla{
    font-family: "rejilla-simple";
}

@media(max-width:400px)
{
    .logo-big, .not-allowed img{
        width:100%;
    }
}


@media(max-width:992px)
{
    .page-title{
        display:none;
    }
}

@media(min-width:769px)
{
    .video-responsive iframe, .video-responsive object, .video-responsive embed {
        width: 560px;
        height: 315px;
        margin:auto;
    }

    .video-responsive{
        padding-bottom: 315px;
    }
}

@media(max-width:767px)
{
    .navbar-brand, .navbar-brand img{
        margin-right:0;
    }
}